[config]
  name = Steven Suh
  email = stevenesuh@gmail.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	rb = rebase
	p = push
	ol = log --stat --oneline
[core]
	pager = diff-so-fancy | less
[credential]
	helper = store
[user]
	name = Steven Suh
	email = stevenesuh@gmail.com
[push]
	default = current
